<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet", type='text/css',  href= "{{ url_for('static', filename='css/styles.css') }}">
    <title>HB Home Page</title>
</head>
<body>
    <div id="transaction-base">
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #6e388a; margin-bottom: 25px;">
            <div class='navigation' style="width: 100%;">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='images/pig-icon-small.png') }}" width="30" height="30" class="d-inline-block align-top" alt="image of pig bank with a house imprinted in the center of it">
                    Home Bank
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id='navbar-content' class="collapse navbar-collapse" id="navbarSupportedContent navbarDropdown">    
                    <ul class="navbar-nav mr-auto contents" style="display: flex; justify-content: right">
                        <li class="nav-item active">
                            <a class="nav-link" href="/user/{{user.id}}/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/{{user.id}}/transactions">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Plan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Goals</a>
                        </li>
                        <li class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Family</a>
                            <div class="dropdown-content dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Settings</a>
                                <a href="/user/{{user.id}}/register_bank_account" class="dropdown-item">Link Bank Account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Sign Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id='home_page_body' class='container-fluid'>
            <div class="modules">
                <H2 class='module-header'>Balances</H2>
                <div class='module-body'>
                    {% if user.bank_accounts: %}
                        {% for account in user.bank_accounts: %}
                            <a class='module-links' href="/user/{{user.id}}/transactions/{{account.id}}">
                                <p class='module-account_name'>  {{account.name}}:</p>
                                {% if account.isPos: %}
                                    <p class='module-account_balance positive'>{{account.funds}}</p>
                                    {% else: %}
                                        <p class='module-account_balance negative'>{{account.funds}}</p>
                                {% endif %}
                            </a>
                        {% endfor %}
                    {% else: %}
                        <a class='module-links' href="/user/{{user.id}}/register_bank_account">Link Bank Account</a>
                    {% endif %}
                </div>
            </div>
            <div class="modules">
                <H2 class='module-header'>Family Members</H2>
                <div class='module-body'>
                    {% for member in user.members %}
                        <p class='module-items'> {{member['member_name']}}</p>
                    {% endfor %}   
                </div>
            </div>
        </div>
    </div>
</body>
</html>