<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet", type='text/css',  href= "{{ url_for('static', filename='css/styles.css') }}">
    <title>HB User Registration</title>
</head>
<body>
    <div id="base">
        <div id = "registration-form" class="form form-registration">
            <h1>Home Bank</h1>
            <div class="BoH-icon">
                <img src="{{ url_for('static', filename='images/pig-icon.png') }}" alt="image of pig bank with a house imprinted in the center of it">
            </div>
            <div id="error_messages" class=row>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="positive flashed_message"> {{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <form action="/register_user" method="post">
                <div class="user_input">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                </div>
                <div class="user_input">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                </div>
                <div class="user_input">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="user_input">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="user_input">
                    <input type="password" class="form-control" id="password" name="password_confirmed" placeholder="Confirm Password">
                </div>
                <div class="data">
                    <button type="submit" class="btn btn-secondary">Register New User</button>
                </div>
            </form>
            {% if not currentlyLoggedIn: %}
                <div class="loginLink">
                    <a href="/family_back" class="login">Return to Family Registration</a>
                </div>
                <div class="loginLink">
                    <a href="/login_back" class="login">Return to Login</a>
                </div>
            {% else: %}
                <div class="loginLink">
                    <a href="/user/{{currentlyLoggedIn}}/home" class="login">Return to Home Page</a>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>